* {
    border: 0;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
a:hover, button:hover {
    cursor: pointer;
}
body {
    background: #fff;
    width: 100%;
    font-family: 'Shanti', arial, serif;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
}
.header {
    background: url(../img/back-header.jpg) repeat-x;
    height: 68px;
}
.logo {
    display: inline-block;
    float: left;
    padding: 5px 0 0 60px;
}
.logo h1 {
    background: url("../img/logo.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 59px;
    width: 202px;
}
.navbar {
    display: inline-block;
    float: right;
}
.navbar ul {
    list-style-type: none;
    padding: 20px 0 0;
}
.navbar ul li {
    background: url("../img/sprite.jpg") no-repeat scroll 0 0 transparent;
    display: inline-block;
    float: left;
    line-height: 20px;
    margin: 0 20px;
    padding-left: 30px;
}
.navbar ul li.que-es {

}
.navbar ul li.ayuda {
    background-position: 0 -20px;
}
.navbar ul li.contacto {
    background-position: 0 -40px;
}
.navbar ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #e96423;
}
.search {
    background: url(../img/back-form.jpg) repeat-x;
    height: 48px;
}
.search form {
    padding: 10px 0 0 100px
}
.search input {
    display: inline-block;
    width: 400px;
    height: 27px;
    border: 1px solid #7e9f9a;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -border-radius: 6px
}
.search select {
    display: inline-block;
    width: 200px;
    height: 27px;
    margin: 0 20px;
    border: 1px solid #7e9f9a;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -border-radius: 6px;
}
.search button {
    display: inline-block;
    background: url("../img/btn-buscar.png") no-repeat scroll 0 0 transparent;
    height: 29px;
    width: 173px;
}
.map {
    background: url(../img/mapa.jpg) repeat;
    display: block;
    height: 623px;
}
.footer {
    background: url(../img/back-footer.jpg) repeat-x;
    height: 29px;
}
.footer p {
    color: #FFFFFF;
    font-size: 13px;
    letter-spacing: 0.8px;
    line-height: 29px;
    text-align: center;
}
.footer a {
    color: #FFFFFF;
    font-weight: 600;
    font-style: italic;
    text-decoration: underline;
}
.no-text {
    text-indent: -99999px;
    display: block;
}
.content {
    height: 549px;
    width: 867px;
    display: block;
    background: url(../img/back-content.png) no-repeat;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -border-radius: 6px;
}
.content h1 {
    color: #e96423;
    border-bottom: 1px dotted #CCCCCC;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.9px;
    margin: 0 0 0 10px;
    padding: 20px 0 10px 50px;
    width: 450px;
}
.content-quees h1 {
    background: url("../img/quees-title.jpg") no-repeat scroll 10px 20px transparent;
}
.content-ayuda h1 {
    background: url("../img/ayuda-title.jpg") no-repeat scroll 10px 20px transparent;
}
.content-contacto h1 {
    background: url("../img/contact-title.jpg") no-repeat scroll 10px 20px transparent;
}
.content p {
    margin: 30px 0 10px 55px;
    width: 700px;
    font-size: 12px;
    font-style: italic;
}
.video {
    display: block;
    background: url(../img/video.jpg);
    margin: 0 auto;
    width: 527px;
    height: 315px;
}
.column-left {
    float:left;
    width: 320px;
    margin-left: 55px;
}
.column-right {
    float: left;
    width: 320px;
    padding-left: 20px;
}
.content-contacto .column-right {
    width: auto;
}
#que-es-mefe p {
    width: auto;
    margin-left: 0px;
}
.form label {
    clear: both;
    display: block;
    line-height: 32px;
    color: #e96423;
    font-size: 14px;
    font-weight: 600;
}
.form input {
    clear: both;
    display: block;
    width: 320px;
    height: 30px;
    border: 1px solid #ccc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -border-radius: 6px;
}
.form textarea {
    clear: both;
    display: block;
    width: 410px;
    height: 270px;
    border: 1px solid #ccc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -border-radius: 6px;
}
.form button {
    background: url("../img/btn-enviar.jpg") repeat scroll 0 0 transparent;
    clear: both;
    display: block;
    float: right;
    height: 32px;
    margin-top: 10px;
    width: 212px;
}